<%
  custom = { :rows => @resource.typus_options_for(:form_rows) }
  options = options.merge!(custom)
%>

<div class="form-group" id="<%= attribute_id %>">
  <%= form.label attribute, label_text.html_safe, { :class => "control-label" } %>
  <div class="controls">
    <% if @item.send(attribute).is_a?(Array) %>
      <% # TODO: Add ability to edit this array %>
      <%= display_text(@item, attribute) %>
    <% else %>
      <%= form.text_area attribute, options %>
    <% end %>
  </div>
</div>
